<div style="text-align:center; font-size:1.5em;margin-top:100px">
Visit <a href="#">Sails JS ,MongoDB ,Passport Auth </a> 
</div>
<div class="container">
<div class="row">
    <div class="col-sm-10 col-sm-offset-2 animated fadeInLeft">
      <form method="POST" action="/search/contact">
      
    </div>
    <div class="searchBar col-sm-4 animated fadeInRight">
        <input type="text" name="searchQuery" placeholder="Search: 'Web Designer'" class="form-control">
        <input type="submit" class="btn pull-right" value="Search">
      </form>
    </div>
  </div>

   
<div ng-controller="angEmpController" class="col-md-10">
 
	<!-- Button trigger modal -->
<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" ng-click="addItem()">Add</button>
<hr>
     <div class="row h3">
 		  <div class="col-md-3">Name</div>
          <div class="col-md-3">Email</div>
          <div class="col-md-3">Phone</div>
          <div class="col-md-3"></div>
     </div>
     
<hr>
   



        <div class="row" ng-repeat="item in items">
          <div class="col-md-3" ng-bind="item.name"></div>
          <div class="col-md-3" ng-bind="item.email"></div>
          <div class="col-md-3" ng-bind="item.phone"></div>
          <div class="col-md-3">  
           <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="editItem(item)">Edit</button>
           <button class="btn" ng-click="removeItem(item)">Remove</button></div>
        </div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-show="displayForm">
  <div class="modal-dialog">
    <div class="modal-content">      
      <div class="modal-body">
      
 		  <div class="form-group">  <input type="text" ng-model="employee.name"  class="form-control" placeholder="Name"/></div>
          <div class="form-group"><input type="email" ng-model="employee.email"  class="form-control" placeholder="Email"/></div>
          <div class="form-group"> <input type="text" ng-model="employee.phone"  class="form-control" placeholder="Phone"/></div>          
     
      </div>
      <div class="modal-footer">       
     	 <button class="btn btn-primary" ng-click="saveItem()">Save</button>
     	 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




</div>
</div>
</div>
</div></div>
<hr>
<br>
  
<div class="container">
<% if (req.user) { %>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 intro">
      <h1><strong>--  </strong> Blogs here  <strong>-- </h1>
      
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-2 animated fadeInLeft">
      <form method="POST" action="/search/post">
      <select class="form-control" name="profession">
        <option value="all">Select Category of blog</option>
        <option value="programming">Programming</option>
        <option value="design">Design</option>
        <option value="marketing">Marketing</option>
        <option value="systemAdmin">System Admin</option>
        <option value="businessAdmin">Business Admin/Executive</option>
        <option value="sales">Sales</option>
        <option value="customerSupport">Customer Support</option>
        <option value="misc">Miscellaneous</option>
      </select>
    </div>
    <div class="searchBar col-sm-4 animated fadeInRight">
        <input type="text" name="searchQuery" placeholder="Search: 'Technical blogs ..'" class="form-control">
        <input type="submit" class="btn pull-right" value="Search">
      </form>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 posts animated fadeInUp">
      <% _.each(posts, function(post) { %>
      <div class="post">
        <p class="jobTitle"><a <% if (!req.user) { %>class="viewJob" <% } %> href="/post/show/<%= post.id %>" data-job="<%= post.id %>"><%= post.jobTitle %></a></p>
        <p><span class="company"><%= post.companyName %></span> <span class="location"><%= post.homeOffice %></span></p>
        <p class="oneLiner"><%= post.oneLiner %></p>
        <% if(post.usOnly == "yes") { %><p class="usOnlyTag">U.S. Only</p> <% } %>
        <% if (req.user && req.User.email == post.user.email) { %>
        <a href="/post/edit/<%= post.id %>">Edit Job</a>
        <% } %>
        <p class="createdAt pull-right" data-job="<%= post.id %>" datetime="<%= post.createdAt %>"><%= post.createdAt %></p>
      </div>
      <% }) %>

      
    </div>
  </div>
</div>

 <% } %>